.pdr-15
{
    padding-right: 10px;
}
.pdl-15
{
    padding-right: 10px;
}
.pdt-15
{
    padding-right: 10px;
}
.pdb-15
{
    padding-right: 10px;
}
.pdd-15{
    padding: 10px;
}
.pdr-10
{
    padding-right: 10px;
}
.pdl-10
{
    padding-right: 10px;
}
.pdt-10
{
    padding-right: 10px;
}
.pdb-10
{
    padding-right: 10px;
}
.pdb-10{
    padding: 10px;
}